$btn-font-size: $base-font-size;
$radius: 0;

$btn-xs: calc(#{$btn-font-size} - 0.4rem);
$btn-sm: calc(#{$btn-font-size} - 0.2rem);
$btn-md: calc(#{$btn-font-size} + 0.2rem);
$btn-lg: calc(#{$btn-font-size} + 0.4rem);
$btn-xlg: calc(#{$btn-font-size} + 0.6rem);

$btn-radius: $radius;

/********** STANDARD BUTTONS **********/
a {
	color: $color-secondary-dark;
	text-decoration: none;;
	display: block;
	&:hover, &:active {
		color: $white;
		@include transform-timing(1s);
	}
}
a {
	&.btn {
		text-decoration: none;
	}
}

.btn {
	display: inline-flex;
	position: relative;
	border: none;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-weight: 500;
	text-decoration: none;
	line-height: 1;
	padding: $space-xs;
	border-radius: $btn-radius;
	font-size: $btn-font-size;
	font-family: $heading-font-family;
	font-weight: $text-bold;
	min-width: convert-rem(150px);
	cursor: pointer;
	transition: .2s;
	@include appearance-none;
	@include fontSmooth;

	@include media(xsm) {
		padding: 1.25rem;
	}

	a & {
		text-decoration: none;
		color: $black;
		border-bottom: none;

		&:active,
		&:focus,
		&:visited {
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}

	&:active {
		transition: none;
	}

	&:hover {
		cursor: pointer;
		@include transform-timing($animation-time);

		@-moz-document url-prefix() {
			transition: none;
		}
	}

	&.active {
		cursor: default;
	}
}

.btn--solid {
	background-color: $color-secondary-dark;
	color: $color-brand-01;

	&:hover,
	&:active, &.active {
		background-color: transparent;
		color: $color-primary;
		@include inner-box-shadow(convert-rem(0px), convert-rem(0px), convert-rem(0px), convert-rem(2px), $color-primary);
	}
}
.btn--outline {
	color: $color-primary;
	background-color: transparent;
	@include inner-box-shadow(convert-rem(0px), convert-rem(0px), convert-rem(0px), convert-rem(2px), $color-primary);

	&:hover,
	&:active, &.active {
		background-color: $color-secondary-dark;
		color: $color-brand-01;
		@include inner-box-shadow(convert-rem(0px), convert-rem(0px), convert-rem(0px), convert-rem(2px), $color-secondary-dark);
	}
}
.btn--text {
	color: $color-primary;
	background-color: transparent;
	&:hover,
	&:active {
		color: $color-secondary-dark;
		text-decoration: underline;
	}
}


.btn-group {
	display: flex;
	flex-wrap: wrap;

	.btn {
		margin: $space-xs;
		&:first-of-type {
			margin-left: 0;
		}
	}

	&.btn-group--vertical {
		flex-direction: column;

		.btn {
			width: auto;
			margin-left: 0;
		}
	}

	&.btn-group--horizontal {
		flex-direction: row;
	}
}
