.gallery {
    header {
        margin-bottom: $space-lg;
        @include media(xsm) {
            margin-bottom: $space-sm;
        }

        h2 {
            margin-bottom: 0;
        }
    }
    section.creative-gallery {
        @include media(xsm) {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        .gallery-image {
            @include media(xsm) {
                margin: $space-xxs auto;
                left: unset !important;
            }
            overflow: hidden;
            align-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            display: flex;
            float: left;
            @include inner-box-shadow(
                convert-rem(0px),
                convert-rem(0px),
                convert-rem(0px),
                convert-rem(2px),
                $color-primary
            );
            padding: 2px;
            height: fit-content;
            width: fit-content;
            margin-right: $space-xxs;
            margin-bottom: $space-xxs;
            background-color: $white;
            img {
                width: 100%;
                height: auto;
                max-width: 260px;
                @include media(xsm) {
                    max-width: 100%;
                }
                @include fadeIn(0.5s);
                @include slideInDown(0.4s);
            }
        }
    }
}
