.home {
    padding: $space-xxl;
    overflow: hidden;
    @include media(xsm) {
        padding: $space-md;
        overflow: auto;
    }
    h2 {
        font-size: 10vw;
        @include slideInDown(1.5s);

        @include media(xsm) {
            font-size: 3rem;
            margin-bottom: $space-sm;
        }

        color: $color-secondary-dark;
    }
    background-size: 400% 400%;
    -webkit-animation: slideGradient 8s ease infinite;
    -moz-animation: slideGradient 8s ease infinite;
    animation: slideGradient 8s ease infinite;
    .btn-group {
        margin-top: $space-xl;
        @include media(xsm) {
            flex-direction: column;
            margin-top: $space-sm;
            .btn {
                width: 100%;
            }
        }
        .btn {
            margin: $space-xxs $space-md $space-xxs 0;
            @include slideInUp(2s);
        }
    }
}
