
/* --------------------------------
Typography
https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd
-------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&display=swap');

/* Font family */
$heading-font-family:  'Montserrat',sans-serif ;
$body-font-family: 'Lato', sans-serif;
$source-font-family: monospace;

$base-font-size: 16px;
$base-font-weight: 400;
$text-scale-ratio: 1.333;

@include breakpoint(md) {
	$base-font-size: 20px;
	$text-scale-ratio: 1.25;
}


/* Weights */
$text-light: 300;
$text-regular: 400;
$text-medium: 600;
$text-bold: 700;

$text-label: 1rem;

/* Type scale */
$text-xs: calc(1rem / (#{$text-scale-ratio} * #{$text-scale-ratio}));
$text-sm: calc(1rem / #{$text-scale-ratio});
$text-md: calc(1rem * #{$text-scale-ratio});
$text-lg: calc(1rem * (#{$text-scale-ratio} * #{$text-scale-ratio}));
$text-xl: calc(1rem * (#{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio}));
$text-xxl: calc(1rem * (#{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio}));
$text-xxxl: calc(1rem * (#{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio}));

/* Line height */
$heading-line-height: 1.2;
$body-line-height: 1.6;

/*Scale down the text at a smaller screen size*/
/* Default HTML Selectors */

p {
	font-family: $body-font-family;
	font-size: $base-font-size;
	line-height: $body-line-height;
	margin-bottom: $space-xs;
	&.text--error {
		color: $color-support-red;
	}
	&.text--success {
		color: $color-support-green;
	}
	&.text--notice {
		color: $color-support-blue;
	}
}

form legend,
table caption {
	margin-bottom: $space-xxs;
	line-height: $heading-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	margin: 0 0 $space-lg 0;
}

h1 {
	display: none;
}

h2 {
	font-size: $text-xxxl;
	font-weight: $text-bold;
	color: $color-secondary-dark;
	@include media(md) {
		font-size: 3rem;
	}
	@include media(xsm) {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: $text-xl;
	font-weight: $text-regular;
	@include media(xs, sm) {
		font-size: $text-lg;
	}
}

h4 {
	font-size: $text-md;
	font-weight: $text-medium;
	@include media(xs, sm) {
		font-size: $text-md;
	}
}

h5 {
	font-size: $text-md;
	font-weight: $text-regular;
	@include media(xs, sm) {
		font-size: $text-md;
	}
}

h6 {
	font-size: $base-font-size;
	font-weight: $text-medium;
	@include media(xs, sm) {
		font-size: $text-md;
	}
}

b,
strong {
	font-weight: $text-bold;
}

label {
	font-size: $text-label;
}

textarea {
	font-size: $base-font-size;
	font-family: $body-font-family;
}

a {
	font-family: $body-font-family;
	color: $color-support-blue;

	//Link sizes
	&.link-sm {
		font-size: $text-sm;
	}

	&.link-md {
		font-size: $text-md;
	}

	&.link-bold {
		font-weight: $text-bold;
	}

	&.link-rm-txt-dec {
		color: $black;
	}

	&:hover {
		color: $color-support-blue-dark;
	}
}


/* Lists */
dl,
ol,
ul {
	padding-left: $space-sm;

	&.list-unstyled {
		padding-left: $space-xxs;

		& .list-unstyled {
			padding-left: $space-sm;
		}
	}
}

dl dt,
dl dt dd,
ol li,
ul li {
	line-height: $body-line-height;
}