//****************-------BREAKPOINTS--------****************
// Variable Map for break points
$breakpoints: (
	xs: 320px,
	xsm: 600px,
	sm: 800px,
	md: 1000px,
	lg: 1250px,
	xl: 1600px,
);

//****************-------END BREAKPOINTS--------****************

//****************------- Z-INDEX--------****************
//Called by using z-index: map-get($z-index, {name} );
$z-index: (base:1,
	1: 100, // The base level
	2: 200,
	3: 300,
	4: 400,
	5: 500, // Chat and menu goes here
	6: 600, // for modals
	7: 700,
	8: 800, // for help
	9: 900 // Break glass if using 9
);

$z-index-base: map-get($z-index, base);
$z-index-general: map-get($z-index, 1);
$z-index-sidebar: map-get($z-index, 3);
$z-index-modal: map-get($z-index, 5);
$z-index-alert: map-get($z-index, 6);

//****************-------END Z-INDEX--------****************


//Animation - transition timing - change if too slow or quick
$animation-time: 0.3s;
$slow-animation-time: 1s;
$quick-animation-time: 0.15s;